div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        border: none;
        font-size: 17px;
    }

    .new-user-back-img {
        background: url("../../../images//pexels-sohel-patel-68912.jpg");
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;

        .new-user {
            width: 40%;
            height: 75%;
            background-color: rgba(0, 0, 0, 0.814);
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            position: relative;

            .split-wise-title {
                color: #fff;
                padding: 20px;
            }

            form {
                display: flex;
                width: 100%;
                flex-direction: column;

                div {
                    height: 92px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .input-error-message {
                        display: flex;
                        flex-direction: column;

                        input {
                            padding: 10px;
                            width: 95%;
                            height: 50px;
                            margin: 10px;
                        }

                        .error-message {
                            width: 100%;
                            font-size: 14px;
                            color: red;
                            text-align: left;
                            padding: 0px 10px;
                        }
                    }
                }

                .new-user-add {
                    padding: 10px;
                    margin: 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 17px;
                    border: 1px solid #000;
                }

                .member-lists {
                    background-color: #fff;
                    height: 164px;
                    width: 92%;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    overflow: auto;
                    margin: 10px auto;
                    align-items: flex-start;
                    border-radius: 7px;

                    .member-list-title {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .add-expense {
                cursor: pointer;
                background: #0059b3;
                color: #fff;
                position: absolute;
                bottom: 7%;
                right: 4%;
                border-radius: 7px;
                height: 41px;
                width: 130px;
                transition: .2s;

                &:hover {
                    background-color: #034991;
                }

                &:disabled {
                    background-color: #ffffff4d;
                    color: #0000004d;
                    position: absolute;
                    bottom: 7%;
                    right: 4%;
                }
            }
        }
    }
}